@model List<Libros>

<h1>Detalles del genero</h1>
<div class="mb-5">

    <div class="d-flex overflow-auto gap-3 pb-2" style="scroll-snap-type: x mandatory;">
        @foreach (var libro in Model)
        {
            <div class="text-center" style="min-width: 140px; scroll-snap-align: start;">
                <img src="~/images/books/@libro.ImagenPortada" alt="@libro.Titulo" class="img-fluid rounded shadow-sm mb-2" style="height: 200px; object-fit: cover;" />
            </div>
        }
    </div>
    <hr />
</div>